.DS_Store
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
*.xcuserstate

